<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>EmployeeName</th>
                <th>EntryNotes</th>
                <th>StarTimeUtc</th>
                <th>EndTimeUtc</th>
            </tr>
        </thead>
        <tbody ng-repeat="(key, value) in employes | groupBy: 'EmployeeName'">
            <tr *ngFor="let employes of employes">
                <td><span>{{employes.Id}}</span></td>
                <td><span>{{employes.EmployeeName}}</span></td>
                <td><span>{{employes.EntryNotes}}</span></td>
                <td><span>{{employes.StarTimeUtc}}</span></td>
                <td><span>{{employes.EndTimeUtc}}</span></td>
            </tr>
        </tbody>
    </table>
</div>